body {
    padding: 0;
    margin: 0;
    font-family: Arial,sans-serif;
}
header {
    background: #70cbf4;
    padding: 24px 48px;
    padding: 0;
    margin: 0;
    font-family: Arial,sans-serif;
}

.structure {
      .logo-container {
        .logo-tui {
            padding: 25px;
            display: inline-block;
            vertical-align: middle;
        }
        .logo {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

nav {
    padding: 0px 48px;
    background: #336799;
    .content-width {
        padding: 0;
        margin: 0;
        font-family: Arial,sans-serif;
    }
}
.content {
    min-height: 300px;
}
.table {
    display:table; 
    margin: 0 auto;
}
footer {
    background:#336799;
    padding: 15px; 
    bottom: 0; 
    left:0; 
    right:0;
    
    .footer-align {
        display:inline-block;
        padding-right: 10px;
        color: #FFFFFF;
    }
}